@keyframes moveInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  80% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  80% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveBtnIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}
